<ion-view>
    <ion-content>
        <!--ng-init="loadImages()"-->
        <div class="card">
            <div class="row" id="play-head">
                <div class="col">
                    <div class="imageOne">
                        <div class="row">
                            <div class="col">
                                <img class="image-play" src="profile/profil.jpg">
                            </div>
                            <div class="col row-center col-center">
                                <h4 class="play-skor">{{ownPoin}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-center row-center text-center time-top">
                    <h3 class="row-center huruf-waktu" id="playTimer">{{waktu3}}</h3>
                </div>
                <div class="col">
                    <div class="imageTwo">
                        <div class="row">
                            <div class="col row-center col-center">
                                <h4 class="play-skor">{{opponentPoin}}</h4>
                            </div>
                            <div class="col">
                                <img class="image-play" src="profile/onoda.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap text-center">
                <p>{{textGilir}}</p>
            </div>
            <div class="row row-center text-center" ng-repeat="image in images" ng-if="$index % 4 === 0">
                <div ng-click="openQuestion($index)" class="col col-25 grid-babak3" ng-if="$index < images.length">
                    <div class="sel" ng-show="images[$index].normal">
                        <p class="text-grid">{{images[$index].id + 1}}</p>
                    </div>
                    <div class="chosen" ng-show="images[$index].terpilih">
                        <p class="text-grid">{{images[$index].id + 1}}</p>
                    </div>
                    <div class="player1" ng-show="images[$index].isOne">
                        <p class="text-grid">{{images[$index].id + 1}}</p>
                    </div>
                    <div class="player2" ng-show="images[$index].isTwo">
                        <p class="text-grid">{{images[$index].id + 1}}</p>
                    </div>
                </div>
                <div ng-click="openQuestion($index + 1)" class="col col-25 grid-babak3" ng-if="$index + 1 < images.length">
                    <div class="sel" ng-show="images[$index+1].normal">
                        <p class="text-grid">{{images[$index].id + 2}}</p>
                    </div>
                    <div class="chosen" ng-show="images[$index+1].terpilih">
                        <p class="text-grid">{{images[$index].id + 2}}</p>
                    </div>
                    <div class="player1" ng-show="images[$index + 1].isOne">
                        <p class="text-grid">{{images[$index].id + 2}}</p>
                    </div>
                    <div class="player2" ng-show="images[$index + 1].isTwo">
                        <p class="text-grid">{{images[$index].id + 2}}</p>
                    </div>
                </div>
                <div ng-click="openQuestion($index+2)" class="col col-25 grid-babak3" ng-if="$index + 2 < images.length">
                    <div class="sel" ng-show="images[$index+2].normal">
                        <p class="text-grid">{{images[$index].id + 3}}</p>
                    </div>
                    <div class="chosen" ng-show="images[$index+2].terpilih">
                        <p class="text-grid">{{images[$index].id + 3}}</p>
                    </div>
                    <div class="player1" ng-show="images[$index + 2].isOne">
                        <p class="text-grid">{{images[$index].id + 3}}</p>
                    </div>
                    <div class="player2" ng-show="images[$index + 2].isTwo">
                        <p class="text-grid">{{images[$index].id + 3}}</p>
                    </div>
                </div>
                <div ng-click="openQuestion($index+3)" class="col col-25 grid-babak3" ng-if="$index + 3 < images.length">
                    <div class="sel" ng-show="images[$index+3].normal">
                        <p class="text-grid">{{images[$index].id + 4}}</p>
                    </div>
                    <div class="chosen" ng-show="images[$index+3].terpilih">
                        <p class="text-grid">{{images[$index].id + 4}}</p>
                    </div>
                    <div class="player1" ng-show="images[$index + 3].isOne">
                        <p class="text-grid">{{images[$index].id + 4}}</p>
                    </div>
                    <div class="player2" ng-show="images[$index + 3].isTwo">
                        <p class="text-grid">{{images[$index].id + 4}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable">

    </ion-footer-bar>
</ion-view>

