<ion-view>
    <ion-content>
    <div style="height: 15%" class="card">
        <div class="row" id="play-head">
            <div class="col">
                <div class="box-image-play">
                    <div class="row">
                        <div class="col">
                            <img class="image-play" src="http://placehold.it/50x50">
                        </div>
                        <div class="col">
                            <h4 class="play-skor">SKOR<br/>{{ownPoin}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-center">
                <h3>{{waktu}}</h3>
            </div>
            <div class="col">
                <div class="box-image-play">
                    <div class="row">
                        <div class="col">
                            <h4 class="play-skor">SKOR<br/>{{opponentPoin}}</h4>
                        </div>
                        <div class="col">
                            <img class="image-play" src="http://placehold.it/50x50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 10%" class="card">
        <div class="item item-text-wrap text-center">
            {{textShift}}
        </div>
    </div>
    <div style="height: 45%" class="card">
        <div class="item item-text-wrap">
            <p>{{soal}}</p>
        </div>
    </div>
    <div style="height: 30%" class="card">
        <div class="item" ng-show="isShift">
            <input class="item-input" ng-keyup="isTyping(userAnswer)" placeholder="Jawab" type="text" ng-model="userAnswer"/>
            <button class="button button-full button-positive" ng-click="jawab(userAnswer)">
                Jawab
            </button>
        </div>
        <div class="item" ng-show="!isShift">
            {{opponentAct}}
        </div>

    </div>
    </ion-content>
</ion-view>
