<ion-view>
    <ion-content scroll="false">
        <div style="height: 15%" class="card">
            <div class="row" id="play-head">
                <div class="col">
                    <div class="box-image-play">
                        <div class="row">
                            <div class="col">
                                <img class="image-play" src="http://placehold.it/50x50">
                            </div>
                            <div class="col">
                                <h4 class="play-skor">SKOR<br/>{{ownPoin}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-center">
                    <h3>{{waktu2}}</h3>
                </div>
                <div class="col">
                    <div class="box-image-play">
                        <div class="row">
                            <div class="col">
                                <h4 class="play-skor">SKOR<br/>{{opponentPoin}}</h4>
                            </div>
                            <div class="col">
                                <img class="image-play" src="http://placehold.it/50x50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 10%" class="card">
            <div class="item item-text-wrap text-center">
                {{textShift}}
            </div>
        </div>
        <ion-scroll direction="y" style="width: 100%; height: 70%" ng-show="isShift">
            <div class="card">

                <ion-radio ng-model="$parent.answer" ng-repeat="pilih in pilihan_soal"
                           ng-value="'{{pilih.id}}'" class="inputPilihan">
                    <div class="row">
                        <div class="col-center col-90 item-text-wrap">{{pilih.question}}</div>
                        <div class="col-10"></div>
                    </div>
                </ion-radio>
                <div class="text-center">
                    <div class="row-center">
                        <button class="button button-positive" ng-disabled="!answer" ng-click="doPilih(answer)">
                            Pilih
                        </button>
                    </div>
                </div>
            </div>
        </ion-scroll>
        <div style="height: 45%" class="card" ng-show="showSoal">
            <div class="item item-text-wrap">
                <p>{{soalBabak2}}</p>
            </div>
            <div class="item">
                {{opponentAct}}
            </div>
        </div>
        <div style="height: 45%" class="card" ng-show="showSoalShift">
            <div class="item item-text-wrap">
                <p>{{soalBabak2}}</p>
            </div>
        </div>
        <div style="height: 30%" class="card" ng-show="answerShift">
            <div class="item">
                <input class="item-input" ng-keyup="isTyping(userAnswer)" placeholder="Jawab" type="text"
                       ng-model="userAnswer"/>
                <button class="button button-full button-positive" ng-click="jawab(userAnswer)">
                    Jawab
                </button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
    </ion-footer-bar>
</ion-view>