<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Hasil Babak 3</h1>

        <!--<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>-->
    </ion-header-bar>
    <ion-content>
        <div class="card" style="height: 100%">
            <div class="item item-divider center-block">
                <div class="row center-block">
                    <div class="col-75">Kembali ke beranda<br/>dalam</div>
                    <div class="col-25"><h1>{{waktuKeHome}}</h1></div>
                </div>
            </div>
            <!--<div class="item item-text-wrap" style="height: 70%">-->
                <!--Pada babak ini akan ada 16 kotak dengan tiap kotak berisi pertanyaan yang berbeda. Anda harus memilih salah satu kotak untuk kemudian menjawab pertanyaan di dalamnya. Poin yang dihitung adalah banyaknya kotak yang terhubung.-->
            <!--</div>-->
        </div>
        <div class="card">
            <div class="item">
                <div class="row text-center">
                    <div class="col">
                        <div class="box-image-play">
                            <div class="row">
                                <div class="col">
                                    <img class="image-play" src="http://localhost:3000/images/images1.jpg">
                                    <h3 class="profile-name">{{username}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col row-center col-center">Vs</div>
                    <div class="col">
                        <div class="box-image-play">
                            <div class="row">
                                <div class="col">
                                    <img class="image-play" src="http://localhost:3000/images/images1.jpg">
                                    <h3 class="profile-name">{{nama_musuh}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row text-center">
                    <div class="col"> <strong>BABAK 1</strong></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        {{poin_ku_1}}
                    </div>
                    <div class="col">
                        {{poin_musuh_1}}
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col"> <strong>BABAK 2</strong></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        {{poin_ku_2}}
                    </div>
                    <div class="col">
                        {{poin_musuh_2}}
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col"> <strong>BABAK 3</strong></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        {{poin_ku}}
                    </div>
                    <div class="col">
                        {{poin_musuh}}
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col"> <strong>HASIL AKHIR</strong></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        {{poin_ku}}
                    </div>
                    <div class="col">
                        {{poin_musuh}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>