<ion-modal-view>
    <!--<ion-header-bar>-->
    <!--<h1 class="title">{{steps}}</h1>-->
    <!--&lt;!&ndash;<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>&ndash;&gt;-->
    <!--</ion-header-bar>-->
    <ion-content ng-show="show[0]">
        <div class="card" style="height: 100%">
            <div class="item item-divider center-block">
                <div class="row center-block">
                    <div class="col-75">Babak 1<br/>akan dimulai dalam</div>
                    <div class="col-25"><h1 id="myTimer">{{timerPrePlay}}</h1></div>
                </div>
            </div>
            <div class="item item-text-wrap" style="height: 70%">
                Pada babak ini pemain akan bergantian menjawab soal yang diberikan. Tiap soal yang diberikan bernilai 10
                poin jika Anda menjawab dengan benar. Selamat bertanding.
            </div>
            <!--</div>-->
            <!--<div class="card">-->
            <div class="item">
                <div class="row text-center" class="play-head">
                    <div class="col">
                        <div class="imageOne">
                            <div class="row">
                                <div class="col">
                                    <img master ng-style="style" class="image-play" src="{{foto_profil}}">

                                    <h3 class="profile-name">{{detail_ku['username']}}</h3>
                                    <h4 class="play-skor">SKOR<br/>{{detail_ku['poin']}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col row-center col-center">
                        <div>Vs</div>
                    </div>
                    <div class="col">
                        <div class="imageTwo">
                            <div class="row">
                                <div class="col">
                                    <img master ng-style="style" class="image-play" src="{{foto_profil_musuh}}">

                                    <h3 class="profile-name">{{detail_musuh['username']}}</h3>
                                    <h4 class="play-skor">SKOR<br/>{{detail_musuh['poin']}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <ion-content ng-show="show[1]" scroll="false">
        <div class="card">
            <div kepala class="row play-head">
                <div class="col imageOne">

                    <div class="row">
                        <div class="col">
                            <img master ng-style="style" class="image-play" src="{{foto_profil}}">
                        </div>
                        <div class="col row-center col-center">
                            <h4 class="play-skor" id="myPoin">{{detail_ku['poin']}}</h4>
                        </div>
                    </div>

                </div>

                <div class="col imageTwo">

                    <div class="row">
                        <div class="col row-center col-center">
                            <h4 class="play-skor" id="urPoin">{{detail_musuh['poin']}}</h4>
                        </div>
                        <div class="col">

                            <img master ng-style="style" class="image-play" src="{{foto_profil_musuh}}">

                        </div>
                    </div>

                </div>
            </div>
            <div class=" row" ng-style="timerStyle">
                <div class="col row-center col-center">
                    <div timer class="row-center text-center time-top " ng-style="hurufTimer">
                        <h3 class="huruf-waktu" id="playTimer">{{waktu1}}</h3>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <!--<div style="height: 10%" class="card">-->
            <div class="item item-text-wrap text-center">
                {{textShift}}
            </div>
        </div>

        <div ng-show="view[0]">
            <div style="height: 45%" class="card">
                <div class="item item-divider calm-bg">
                    Soal {{no_kotak}}
                </div>
                <div class="item item-text-wrap text-center kotak-soal">
                    <div class="tulisan-soal">{{soal}}</div>
                </div>
                <div class="item kotak-jawaban" ng-show="ndelik">
                    <div class="row row-center text-center" ng-repeat="jawab in jawaban" ng-if="$index % 2 === 0">
                        <div ng-click="kirimJawaban($index)" class="col col-50">
                            <div class="jawaban">
                                <div class="text-jawaban">{{jawaban[$index]}}</div>
                            </div>
                        </div>
                        <div ng-click="kirimJawaban($index + 1)" class="col col-50">
                            <div class="jawaban">
                                <div class="text-jawaban">{{jawaban[$index + 1]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item text-center" ng-show="isType">
                    {{opponentAct}}

                </div>
                <div class="item text-center row" ng-show="isType">
                    <div class="col col-center row-center kotak_benar">
                        <img class="gambar_benar" src="{{isTrueIcon}}">
                    </div>
                </div>
            </div>
        </div>


        <ion-scroll direction="y" class="sekerol" ng-show="view[1]">
            <div class="card">
                <ion-radio ng-model="$parent.answer" ng-repeat="pilih in pilihan_soal"
                           ng-value="'{{pilih.no}}'" class="inputPilihan">
                    <div class="row">
                        <div class="col-center col-90 item-text-wrap">{{pilih.question}}</div>
                        <div class="col-10"></div>
                    </div>
                </ion-radio>
                <div class="text-center">
                    <div class="row-center">
                        <button class="button button-positive" ng-click="doPilih(answer)">
                            Pilih
                        </button>
                    </div>
                </div>
            </div>
        </ion-scroll>

        <div ng-show="view[2]" class="card">
            <div class="row row-center text-center" ng-repeat="image in images" ng-if="$index % 4 === 0"
                 ng-show="!isSelesai">
                <div ng-click="openQuestion($index)" class="col col-25 grid-babak3" ng-if="$index < images.length">
                    <div class="sel">
                        <p class="text-grid">{{images[$index].id + 1}}</p>
                    </div>
                </div>
                <div ng-click="openQuestion($index + 1)" class="col col-25 grid-babak3"
                     ng-if="$index + 1 < images.length">
                    <div class="sel">
                        <p class="text-grid">{{images[$index].id + 2}}</p>
                    </div>
                </div>
                <div ng-click="openQuestion($index+2)" class="col col-25 grid-babak3"
                     ng-if="$index + 2 < images.length">
                    <div class="sel">
                        <p class="text-grid">{{images[$index].id + 3}}</p>
                    </div>
                </div>
                <div ng-click="openQuestion($index+3)" class="col col-25 grid-babak3"
                     ng-if="$index + 3 < images.length">
                    <div class="sel">
                        <p class="text-grid">{{images[$index].id + 4}}</p>
                    </div>
                </div>
            </div>
            <div class="item text-center row" ng-show="isSelesai">
                <div class="col col-center row-center">{{isMenang}}<br/>
                Poin Anda {{detail_ku['poin']}}</div>
            </div>
            <div class="item text-center row" ng-show="isSelesai">

                <div class="col col-center row-center kotak_benar">
                    <img class="gambar_benar" src="{{ikonAkhir}}">
                </div>
            </div>
        </div>
        </div>


    </ion-content>
    <ion-content ng-show="show[2]">
        <div class="card" style="height: 100%">
            <div class="item item-divider center-block">
                <div class="row center-block">
                    <div class="col-75">{{babakX}}<br/>akan dimulai dalam</div>
                    <div class="col-25"><h1 id="timerNext">{{waktu2Next}}</h1></div>
                </div>
            </div>
            <div class="item item-text-wrap" style="height: 70%">
                {{textAboutBabak}}
            </div>
            <!--</div>-->
            <!--<div class="card">-->
            <div class="item">
                <div class="row text-center" class="play-head">
                    <div class="col">
                        <div class="imageOne">
                            <div class="row">
                                <div class="col">
                                    <img master ng-style="style" class="image-play" src="{{foto_profil}}">

                                    <h3 class="profile-name">{{detail_ku['username']}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col row-center col-center">Vs</div>
                    <div class="col">
                        <div class="imageTwo">
                            <div class="row">
                                <div class="col">
                                    <img master ng-style="style" class="image-play" src="{{foto_profil_musuh}}">

                                    <h3 class="profile-name">{{detail_musuh['username']}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row text-center" ng-show="poinBabak1">
                    <div class="col"><strong>BABAK 1</strong></div>
                </div>
                <div class="row text-center" ng-show="poinBabak1">
                    <div class="col">
                        {{detail_ku['poinBabak1']}}
                    </div>
                    <div class="col">
                        {{detail_musuh['poinBabak1']}}
                    </div>
                </div>
                <div class="row text-center" ng-show="poinBabak2">
                    <div class="col"><strong>BABAK 2</strong></div>
                </div>
                <div class="row text-center" ng-show="poinBabak2">
                    <div class="col">
                        {{detail_ku['poinBabak2']}}
                    </div>
                    <div class="col">
                        {{detail_musuh['poinBabak2']}}
                    </div>
                </div>
                <div class="row text-center" ng-show="poinBabak3">
                    <div class="col"><strong>BABAK 3</strong></div>
                </div>
                <div class="row text-center" ng-show="poinBabak3">
                    <div class="col">
                        {{detail_ku['poinBabak3']}}
                    </div>
                    <div class="col">
                        {{detail_musuh['poinBabak3']}}
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col"><strong>SKOR {{isAkhir}}</strong></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        {{detail_ku['poin']}}
                    </div>
                    <div class="col">
                        {{detail_musuh['poin']}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-modal-view>
