<ion-view title="Babak 1">
    <ion-content>
        <!--ng-init="loadImages()"-->
        <div class="card" style="height: 100%">
            <div class="item item-divider center-block">
                <div class="row center-block">
                    <div class="col-75">Babak 1<br/>akan dimulai dalam</div>
                    <div class="col-25"><h1 id="myTimer">{{timer}}</h1></div>
                </div>
            </div>
            <div class="item item-text-wrap" style="height: 70%">
                Pada babak ini pemain akan bergantian menjawab soal yang diberikan. Tiap soal yang diberikan bernilai 10
                poin jika Anda menjawab dengan benar. Selamat bertanding.
            </div>
        <!--</div>-->
        <!--<div class="card">-->
            <div class="item">
                <div class="row text-center"  id="play-head">
                    <div class="col">
                        <div class="imageOne">
                            <div class="row">
                                <div class="col">
                                    <img class="image-play" src="profile/profil.jpg">
                                    <h3 class="profile-name">{{username}}</h3>
                                    <h4 class="play-skor">SKOR<br/>{{poin_musuh}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col row-center col-center">Vs</div>
                    <div class="col">
                        <div class="imageTwo">
                            <div class="row">
                                <div class="col">
                                    <img class="image-play" src="profile/onoda.jpg">
                                    <h3 class="profile-name">{{nama_musuh}}</h3>
                                    <h4 class="play-skor">SKOR<br/>{{poin_musuh}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>