<div class="card" style="height: 100%">
    <div class="item item-divider center-block">
        <div class="row center-block">
            <div class="col-75">Babak 1<br/>akan dimulai dalam</div>
            <div class="col-25"><h1 id="myTimer">{{timerPrePlay}}</h1></div>
        </div>
    </div>
    <div class="item item-text-wrap" style="height: 70%">
        Pada babak ini pemain akan bergantian menjawab soal yang diberikan. Tiap soal yang diberikan bernilai 10
        poin jika Anda menjawab dengan benar. Selamat bertanding.
    </div>
    <!--</div>-->
    <!--<div class="card">-->
    <div class="item">
        <div class="row text-center" class="play-head">
            <div class="col">
                <div class="imageOne">
                    <div class="row">
                        <div class="col">
                            <img master ng-style="style" class="image-play" src="{{foto_profil}}">

                            <h3 class="profile-name">{{detail_ku['username']}}</h3>
                            <h4 class="play-skor">SKOR<br/>{{detail_ku['poin']}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col row-center col-center">
                <div>Vs</div>
            </div>
            <div class="col">
                <div class="imageTwo">
                    <div class="row">
                        <div class="col">
                            <img master ng-style="style" class="image-play" src="{{foto_profil_musuh}}">

                            <h3 class="profile-name">{{detail_musuh['username']}}</h3>
                            <h4 class="play-skor">SKOR<br/>{{detail_musuh['poin']}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
