        <ion-view title="Cerdas Cermat">
            <ion-content>
                <!--<div id="profile-bg"></div>-->
                <div id="profile-info">
                    <img id="profile-image" src="{{foto_profil}}">

                    <h3 id="profile-name">{{username}}</h3>
                    <!--<img class="nyawa-image" src="http://localhost:3000/images/love.png">-->
                    <!--<img class="nyawa-image" src="http://localhost:3000/images/love.png">-->
                    <!--<img class="nyawa-image" src="http://localhost:3000/images/love.png">-->
                    <!--<br/>-->
                    <span class="profile-description">Poin : {{mypoin}}</span>
                    <br/>
                    <span class="profile-description">Menang : {{mymenang}}</span><br/>
                    <span class="profile-description">Main : {{mymain}}</span><br/>
                    <br/>
                    <br/>
                    <button class="button button-balanced" ng-click="challenge()">
                        Mulai Main
                    </button>
                    <br />
                    <br />
                    <button class="button button-assertive" ng-click="logout()">
                        Keluar
                    </button>

                    <br />
                    <br />
                    <p>user online saat ini : {{jumlah_online}}</p>
                </div>
            </ion-content>
        </ion-view>
    </ion-side-menu-content>
