<ion-view title="Guess Guess">
    <ion-content class="has-header padding">

        <div class="card">
            <div class="item">
                <div class="row">
                    <div class="col">
                        <div id="ready-info">
                            <img id="ready-image" src="http://localhost:3000/images/images1.jpg">
                            <h3 id="profile-name">{{username}}</h3>
                        </div>
                    </div>
                    <div class="col"><div id="vs">Vs</div></div>
                    <div class="col">
                        <div id="ready-info">
                            <img id="ready-image" src="http://localhost:3000/images/images1.jpg">
                            <h3 id="profile-name">{{nama_musuh}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item  item-text-wrap">
                <div id="ready-info">
                permainan akan dimulai dalam
                <h1>{{timer}}</h1>
                detik
                <div class="numberDisplay">
                    <h3>Pada babak ini pemain akan bergantian menjawab soal yang diberikan</h3>
                </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
